<footer class="footer" style="position: absolute;bottom: 0;width: 100%;height: 64px;background-color: #eee;">

  <div class="container" style="padding-top: 15px;">
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">
          <span>SknBase Version <%= Skn::Version %></span><br/>
          <span>&copy;&nbsp;<em>2015-2017 Skoona Consulting</em></span>
        </p>
      </div>
    </div>
  </div>

</footer>
