<header>

  <nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">SknBase</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a class="<%= menu_active?('/') %>" href="/">Home</a></li>
          <li><a class="<%= menu_active?('/about') %>" href="/about">About</a></li>
          <li><a class="<%= menu_active?('/contact') %>" href="/contact">Contact</a></li>
          <li><a class="<%= menu_active?('/profiles/content') %>" href="/profiles/content">Content</a></li>
        </ul>
      </div>
    </div>
  </nav>

</header>