<% content_for(:title, "About") %>

<article>

  <div class="jumbotron annular-eclipse">
    <h1 class="big-chalk">About</h1>
    <p>
      Exploring Roda and alternative web patterns available for the Ruby language.
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="/about" role="button">About this application.</a>
    </p>
  </div>

  <h3 class="text-center">Welcome <%= valid_user? ? current_user.name : 'UserName' %><br/><small>About Page</small></h3>

</article>
