<% content_for(:title, "Home") %>

<article>

  <div class="jumbotron halo-pano">
    <h1 class="big-chalk">Skoona's Exploration</h1>
    <p><strong><em>Basic Application</em></strong> from scratch using Roda</p>
    <p>
      <a class="btn btn-primary btn-lg" href="/about" role="button">More...</a>
    </p>
  </div>

  <h3 class="text-center">Welcome <%= logged_in? ? current_user.name : 'UserName' %><br/><small>Landing Page</small></h3>

</article>
